page {
	overflow: auto;
	background: $uni-bg-color-grey;
}

.home-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.loading-bg {
		width: 220rpx;
	}
}
	
// u-View components
.u-swiper-indicator {
	bottom: 38rpx !important;
	padding-right: 38rpx !important;
}

.u-indicator-item-round {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.u-indicator-item-round-active {
	background-color: rgba(255, 255, 255, 0.8) !important;
}

.u-card {
	margin: 0 30rpx !important;
}